* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  display: flex;
  margin-top: 15vh;
}

.upload-section {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.upload-icon {
  font-size: 2rem;
  margin: 20px 0;
}

.upload-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #666;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #777;
}

.info-text {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #bbb;
}

.info-text a {
  color: #bbb;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f3edf7;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  display: none;
}

.footer div {
  color: #49454f;
}

.footer img {
  width: 30px;
  height: 30px;
  margin: 5px 0 10px 0;
}

.footer-icon {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon:hover {
  color: #ddd;
}

.footer-icon span {
  font-size: 0.8rem;
  margin-top: 3px;
}

.imgPreview {
  width: 100%;
  height: calc(100vh - 93px);
  /* .footerの高さを考慮 */
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#previewImage {
  width: 100%;
  height: calc(100vh - 93px);
  /* .footerの高さを考慮 */
  object-fit: contain;
  /* クロップしないようにサイズを調整 */
}